<a href="https://colab.research.google.com/github/Khemapsorn/data_viz_2022/blob/main/Project_Datastudio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd  # ใช้จัดการข้อมูลต่าง ๆ ที่เป็นตาราง พวกexcel ,CSV
from google.colab import drive # เชื่อม google drive กับ colab ของเรา นี้เป็นคำสั่งเชื่อม |accout colab กับ Drive ควรเป็น accout เดียวกัน|
drive.mount('/content/drive')
import os # การจัดเก็บเกี่ยวกับไฟล์ต่าง ๆ มันอยู่ที่โฟลเดอร์ไหน จะ list โฟล์เดอร์ออกมา

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
path = '/content/drive/My Drive/DataViz22_data' #บอกทางผ่านในการไปเอาไฟล์ของเรา ว่าผ่านทางไหนบ้าง

# ดึงข้อมูล ไฟล์1

In [3]:
covid_file_path_1= os.path.join(path,'data1_1.csv')
print(covid_file_path_1)

/content/drive/My Drive/DataViz22_data/data1_1.csv

In [4]:
date_covid_1 = pd.read_csv(covid_file_path_1)
date_covid_1

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

In [5]:
covid_file_path_2 = os.path.join(path,'data1_2.csv')
print(covid_file_path_2)

/content/drive/My Drive/DataViz22_data/data1_2.csv

In [6]:
date_covid_2 = pd.read_csv(covid_file_path_2)
date_covid_2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [7]:
covid_file_path_3= os.path.join(path,'data1_3.csv')
print(covid_file_path_3)

/content/drive/My Drive/DataViz22_data/data1_3.csv

In [8]:
date_covid_3 = pd.read_csv(covid_file_path_3)
date_covid_3

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [9]:
covid_file_path_4= os.path.join(path,'data1_4.csv')
print(covid_file_path_4)

/content/drive/My Drive/DataViz22_data/data1_4.csv

In [10]:
date_covid_4 = pd.read_csv(covid_file_path_4)
date_covid_4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

# รวมไฟล์1 แกน Y

In [11]:
import pandas as pd

In [12]:
data1 = pd.concat([date_covid_1, date_covid_2, date_covid_3, date_covid_4] ) # เอาตารางมาต่อกัน
data1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

# ตัดคอลัมน์ไฟล์รวม1

In [13]:
show_data1 = data1[['announce_date','sex','age','Unit','nationality','risk','province_of_onset']]
show_data1

,announce_date,sex,age,Unit,nationality,risk,province_of_onset
0,12/1/2020,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,17/1/2020,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,22/1/2020,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,22/1/2020,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,24/1/2020,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...,...,...
433548,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433549,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433550,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433551,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433552,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN

In [14]:
set(show_data1['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 nan,
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ตากใบ',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา ลพบุรี',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสรีธรรมราช',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทบุุรี',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางศรีเมือง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทึมธานี',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัตาตานี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สรินทร์',
 'สวิสเซอร์แลนด์',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หลายจังหวัด',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาจเจิญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชียรใหญ่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

# แทนที่ชื่อจังหวัด

In [15]:
!wget -q https://github.com/Phonbopit/sarabun-webfont/raw/master/fonts/thsarabunnew-webfont.ttf

In [19]:
!ls

drive	     thsarabunnew-webfont.ttf	 thsarabunnew-webfont.ttf.2
sample_data  thsarabunnew-webfont.ttf.1  thsarabunnew-webfont.ttf.3

In [16]:
import matplotlib as mpl
mpl.font_manager.fontManager.addfont('thsarabunnew-webfont.ttf')
mpl.rc('font', family='TH Sarabun New')

In [ ]:
re_name=show_data1.replace({'\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์',  'USA':'ไม่ระบุ', 'nan':'ไม่ระบุ', '\xa0กาญจนบุรี':'กาญจนบุรี', 
                                    '\xa0ชลบุรี':'ชลบุรี', '\xa0ตราด':'ตราด',  '\xa0นครปฐม': 'นครปฐม', '\xa0สมุทรสงคราม':'สมุทรสงคราม',
                                    '\xa0สมุทรสาคร':'สมุทรสาคร',  '\xa0อุทัยธานี': 'อุทัยธานี', 'กทม':'กรุงเทพมหานคร',  'กทม.':'กรุงเทพมหานคร',
                                     'กบินทร์บุรี':'ไม่ระบุ',  'กระบี่': 'กระบี่', 'กระบี่ี่':'กระบี่',  'กรุงเทพ':'กรุงเทพมหานคร',
                                     'กรุงเทพมหานคร': 'กรุงเทพมหานคร', 'กรุงเทพมหานคร.': 'กรุงเทพมหานคร',  'กรุงเทพมหานคร. / พระนครศรีอยุธยา':'ไม่ระบุ', 'กรุงเทพมหานคร. / ศรีสะเกษ':'ไม่ระบุ',
                                     'กรุงเทพฯ': 'กรุงเทพมหานคร',  'กะทู้':'ไม่ระบุ', 'กัมพูชา':'ไม่ระบุ',  'กาญจนบุรี':'กาญจนบุรี',
                                     'กาญจบุรี':'กาญจนบุรี',  'กาญนบุรี':'กาญจนบุรี', 'กาฬสิน': 'กาฬสินธุ์',  'กาฬสินธิ์': 'กาฬสินธุ์',
                                     'กาฬสินธุ์': 'กาฬสินธุ์', 'กาฬสินธุ์\xa0': 'กาฬสินธุ์',  'กาฬสินธ์': 'กาฬสินธุ์', 'กำเพงเพชร':'กำแพงเพชร',
                                     'กำแพง':'กำแพงเพชร', 'กำแพงเพชร':'กำแพงเพชร',  'กำแพงเพชร\xa0': 'กำแพงเพชร',  'กําแพงเพชร': 'กำแพงเพชร',
                                     'ขอนแก่น':'ขอนแก่น',  'ขอนแก่น\xa0': 'ขอนแก่น',  'ขอนแก่่น': 'ขอนแก่น',  'ขัยนาท':'ชัยนาท',
                                     'ขัยภูมิ':'ชัยภูมิ', 'ขานุวรลักษณ์บุรี':'ไม่ระบุ', 'คนไทยเดินทางกลับจากต่างประเทศ':'ไม่ระบุ',  'คลองเตย':'ไม่ระบุ',
                                     'จ.กรุงเทพมหานคร': 'กรุงเทพมหานคร', 'จ.ภูเก็ต':'ภูเก็ต',  'จ.ราชบุรี': 'ราชบุรี',  'จ.สุราษฎร์ธานี': 'สุราษฎร์ธานี',
                                     'จังหวัดสมุทรสาคร': 'สมุทรสาคร',  'จันทบุรี': 'จันทบุรี', 'ฉะเชองเทราร': 'ฉะเชิงเทรา',  'ฉะเชิงเทรา': 'ฉะเชิงเทรา',
                                     'ชมพร':'ชุมพร',  'ชลบุรี': 'ชลบุรี',  'ชลบุรี\t': 'ชลบุรี', 'ชลบุรี\xa0': 'ชลบุรี',
                                     'ชลบุุรี':'ชลบุรี', 'ชอนแก่น':'ขอนแก่น',  'ชัยนาถ': 'ชัยนาท',  'ชัยนาท': 'ชัยนาท',
                                     'ชัยบาดาล':'ไม่ระบุ', 'ชัยภูมิ': 'ชัยภูมิ',  'ชัยภูมิ\xa0': 'ชัยภูมิ', 'ชุมพร':'ชุมพร',
                                     'ชุุมพร':'ชุมพร',  'ชุุุมพร':'ชุมพร', 'ดอนมดแดง':'ไม่ระบุ',  'ดินแดง':'ไม่ระบุ',
                                     'ตรัง':'ตรัง',  'ตรััง':'ตรัง', 'ตราด':'ตราด', 'ตราด\xa0':'ตราด',
                                     'ตาก': 'ตาก',  'ตากใบ': 'ตาก',  'ต่างจังหวัด':'ไม่ระบุ','ทุ่งเสลี่ยม':'ไม่ระบุ' ,
                                      'ท้ายบ้าน':'ไม่ระบุ',  'ธารโต':'ไม่ระบุ',  'นคนปฐม':'นครปฐม', 'นคปฐม':'นครปฐม', 
                                     'นครนปฐม':'นครปฐม',  'นครนาชสีมา':'นครราชสีมา', 'นครนายก':'นครนายก' ,'นครปฐม':'นครปฐม',
                                     'นครปฐม\xa0':'นครปฐม', 'นครปบม':'นครพนม', 'นครพนม':'นครพนม', 'นครพนม\xa0':'นครพนม',
                                     'นครยายก':'นครนายก', 'นครราขสีมา':'นครราชสีมา', 'นครราชธานี':'นครราชสีมา', 'นครราชศรีมา':'นครราชสีมา',
                                     'นครราชสสีมา':'นครราชสีมา', 'นครราชสีมา':'นครราชสีมา', 'นครราชสีมา ลพบุรี':'ไม่ระบุ', 'นครราชสีมา\xa0':'นครราชสีมา',
                                     'นครศรธรรมราช':'นครศรีธรรมราช', 'นครศรี':'นครศรีธรรมราช', 'นครศรีธรมมราช':'นครศรีธรรมราช', 'นครศรีธรมราช':'นครศรีธรรมราช',
                                     'นครศรีธรรมราข':'นครศรีธรรมราช', 'นครศรีธรรมราช':'นครศรีธรรมราช', 'นครศรีฯ':'นครศรีธรรมราช','นครศรีีธรรมราช':'นครศรีธรรมราช',
                                     'นครศร๊ธรรมราช':'นครศรีธรรมราช', 'นครศร๊ะรรมราช':'นครศรีธรรมราช', 'นครสรรค์':'นครสวรรค์', 'นครสรีธรรมราช':'นครศรีธรรมราช',
                                     'นครสวรรค':'นครสวรรค์', 'นครสวรรค์':'นครสวรรค์', 'นครสวรรค์\xa0':'นครสวรรค์', 'นครสีธรรมราช':'นครศรีธรรมราช',
                                    'นครฯ': 'ไม่ระบุ', 'นคราชสีมา': 'นครราชสีมา', 'นครีศรีธรรมราช': 'นครศรีธรรมราช', 'นตรนายก': 'นครนายก', 
                                    'นตรปฐม': 'นครปฐม',  'นนทบุรี': 'นนทบุรี', 'นนทบุรี\xa0': 'นนทบุรี', 'นนทบุุรี':'นนทบุรี',
                                    'นนทุบรี': 'นนทบุรี', 'นนทุรี': 'นนทบุรี', 'นนมบุรี': 'นนทบุรี', 'นรศรีธรรมราช': 'นครศรีธรรมราช',
                                    'นราธิวาส': 'นราธิวาส', 'นราธิวาส\u200b': 'นราธิวาส', 'นราธฺวาส': 'นราธิวาส', 'นอกเขต': 'นราธิวาส',
                                    'นาราธิวาส': 'นราธิวาส', 'นาวัง': 'ไม่ระบุ', 'น่าน': 'น่าน', 'น่าน/ฉะเชิงเทรา': 'ไม่ระบุ', 
                                    'บางกรวย': 'ไม่ระบุ', 'บางกะปิ': 'ไม่ระบุ', 'บางนา': 'ไม่ระบุ', 'บางปะอิน': 'ไม่ระบุ',
                                    'บางละมุง': 'ไม่ระบุ', 'บางศรีเมือง': 'ไม่ระบุ', 'บางเพียง': 'ไม่ระบุ', 'บึงกาฬ': 'บึงกาฬ',
                                    'บึงโขงหลง': 'ไม่ระบุ', 'บุรีรัมภ์': 'บุรีรัมย์', 'บุรีรัมย์': 'บุรีรัมย์', 'บุรีรัมย์\xa0': 'บุรีรัมย์',
                                    'บุรีรัยม์': 'บุรีรัมย์', 'บุรีรีมย์': 'บุรีรัมย์', 'บ้านหลวง': 'ไม่ระบุ', 'ปจ': 'ไม่ระบุ',
                                    'ปทึมธานี': 'ปทุมธานี', 'ปทุทธานี': 'ปทุมธานี', 'ปทุมฑานี': 'ปทุมธานี', 'ปทุมทานี': 'ปทุมธานี',
                                    'ปทุมธาน': 'ปทุมธานี', 'ปทุมธานี': 'ปทุมธานี', 'ปทุมธานี.':'ปทุมธานี', 'ปทุมธานี\xa0':'ปทุมธานี',
                                    'ปทุมธานีี':'ปทุมธานี', 'ปทุมาธานี':'ปทุมธานี', 'ปทุุมธานี':'ปทุมธานี', 'ปธุมธานี':'ปทุมธานี',
                                    'ปมุมธานี':'ปทุมธานี', 'ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์', 'ประจวบ':'ประจวบคีรีขันธ์', 'ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์',
                                    'ประจวบคีรขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์', 'ประจวบคีรีขัน':'ประจวบคีรีขันธ์', 'ประจวบคีรีขันธื':'ประจวบคีรีขันธ์',
                                    'ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์', 'ประจวบคีรีขันธ์':'ประจวบคีรีขันธ์', 'ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์', 'ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์',
                                    'ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์', 'ประจวบฯ':'ประจวบคีรีขันธ์', 'ประทุมธานี':'ปทุมธานี',
                                    'ประเทศกัมพูชา':'ไม่ระบุ', 'ปราจีนบุรี': 'ปราจีนบุรี', 'ปราจีบุรี': 'ปราจีนบุรี', 'ปลวกแดง': 'ไม่ระบุ',
                                    'ปลายพระยา': 'ไม่ระบุ', 'ปอยเปต': 'ไม่ระบุ', 'ปัตตนรี': 'ปัตตานี', 'ปัตตานนี': 'ปัตตานี',
                                    'ปัตตานี': 'ปัตตานี','ปัตตานีี': 'ปัตตานี', 'ปัตาตานี': 'ปัตตานี', 'ปัว': 'ไม่ระบุ',
                                    'ปััตตานี': 'ปัตตานี', 'ปุทมธานี': 'ปทุมธานี', 'ป่าโมก': 'ไม่ระบุ', 'พม่า': 'ไม่ระบุ',
                                    'พรหมพิราม': 'ไม่ระบุ', 'พระนครศรียุธยา': 'พระนครศรีอยุธยา', 'พระนครศรีอยุทธยา': 'พระนครศรีอยุธยา', 'พระนครศรีอยุทยา': 'พระนครศรีอยุธยา',
                                    'พระนครศรีอยุธยา': 'พระนครศรีอยุธยา', 'พระนครศรีอยุธยา\xa0': 'พระนครศรีอยุธยา', 'พะเยา': 'พะเยา', 'พังงา':'พังงา',
                                    'พัทยา': 'ไม่ระบุ', 'พัทลุง': 'พัทลุง', 'พัทลุุง': 'พัทลุง','มหาสาคาม' : 'มหาสารคาม',
                                    'มหาสารคาม' : 'มหาสารคาม', 'มาเลเซีย' : 'ไม่ระบุ', 'มุกดาหาร' : 'มุกดาหาร', 'มุกาดหาร' : 'มุกดาหาร',
                                    'ยะลา' : 'ยะลา', 'ยานนาวา' : 'ไม่ระบุ', 'ยโสธร' : 'ยโสธร', 'ร.จ.จ.นราธิวาส' : 'นราธิวาส',
                                    'รอ' : 'ระยอง', 'ระนอง' : 'ระนอง', 'ระบุ' : 'ไม่ระบุ', 'ระยอง' : 'ระยอง',
                                    'ระยอง\xa0': 'ระยอง', 'ระอยง' : 'ระยอง', 'ราชบบุรี' : 'ราชบุรี', 'ราชบุรี' : 'ราชบุรี',
                                    'ราชบุรีี' : 'ราชบุรี', 'ราชบุรี\u200b': 'ราชบุรี', 'ราชุรี' : 'ราชบุรี', 'ราชเทวี' : 'ไม่ระบุ',
                                    'ร้องกวาง' : 'ไม่ระบุ', 'ร้อยเอ็ด' : 'ร้อยเอ็ด', 'ลบุรี' : 'ลพบุรี', 'ลพบุรี' : 'ลพบุรี',
                                    'ลพบุรี.' : 'ลพบุรี', 'ลพบุรี\xa0' : 'ลพบุรี', 'ลอง' : 'ไม่ระบุ', 'ลาดกระบัง' : 'ไม่ระบุ',
                                    'ลาดพร้าว' : 'ไม่ระบุ', 'ลาว' : 'ไม่ระบุ', 'ลำปาง' : 'ลำปาง', 'ลำพูน' : 'ลำพูน',
                                    'ลำพูน\u200b': 'ลำพูน', 'ลำพููน' : 'ลำพูน', 'ลำลูกกา' : 'ไม่ระบุ', 'วังชิ้น' : 'ไม่ระบุ',
                                    'วังทอง' : 'ไม่ระบุ', 'วิเศษชัยชาญ' : 'ไม่ระบุ', 'ศรีษะสะเกษ' : 'ศรีสะเกษ', 'ศรีษะเกษ' : 'ศรีสะเกษ',
                                    'ศรีสระเกษ' : 'ศรีสะเกษ', 'ศรีสะเกษ' : 'ศรีสะเกษ', 'ศีรสะเกษ' : 'ศรีสะเกษ', 'สกลนคร' : 'สกลนคร',
                                    'สครสวรรค์' : 'นครสวรรค์', 'สงขลา' : 'สงขลา', 'สงขลา\u200b': 'สงขลา', 'สตูล' : 'สตูล',
                                    'สถานที่ทำงาน' : 'ไม่ระบุ', 'สพรรณบุรี' : 'สุพรรณบุรี', 'สมถทรปราการ' : 'สมุทรปราการ', 'สมทรสงคราม' : 'สมุทรสงคราม',
                                    'สมทรสาคร' : 'สมุทรสาคร', 'สมุครปราการ' : 'สมุทรปราการ', 'สมุครสาคร' : 'สมุทรสาคร', 'สมุท' : 'ไม่ระบุ',
                                    'สมุทปราการ' : 'สมุทรปราการ', 'สมุทรปรากร' : 'สมุทรปราการ', 'สมุทรปรากรร' : 'สมุทรปราการ', 'สมุทรปรากา' : 'สมุทรปราการ',
                                    'สมุทรปราการ' : 'สมุทรปราการ', 'สมุทรปราการ\xa0' : 'สมุทรสงคราม', 'สมุทรศาคร' : 'สมุทรสาคร', 'สมุทรสงคราม' : 'สมุทรสงคราม',
                                    'สมุทรสาคร' : 'สมุทรสาคร', 'สมุทรสาคร\xa0' : 'สมุทรสาคร', 'สมุทรสาคา' : 'สมุทรสาคร', 'สมุทรสาคาร' : 'สมุทรสาคร',
                                    'สมุทรสาทร' : 'สมุทรสาคร', 'สมุทรสารคร' : 'สมุทรสาคร', 'สมุทราปราการ' : 'สมุทรปราการ', 'สมุทราสาคร' : 'สมุทรสาคร',
                                    'สมุทสงคราม' : 'สมุทรสงคราม', 'สมุทสาคร' : 'สมุทรสาคร', 'สมุย' : 'ไม่ระบุ', 'สมุุทรปราการ' : 'สมุทรปราการ',
                                    'สมุุทรสงคราม' : 'สมุทรสงคราม', 'สมุุทรสาคร' : 'สมุทรสาคร', 'สระก้ว' : 'สระแก้ว', 'สระบุรี' : 'สระบุรี',
                                    'สระบุรี\xa0': 'สระบุรี', 'สระแก้ว' : 'สระแก้ว', 'สรินทร์' : 'สุรินทร์', 'สวิสเซอร์แลนด์' : 'ไม่ระบุ',
                                    'สอง' : 'ไม่ระบุ', 'สองแคว':'ไม่ระบุ', 'สะพานสูง' : 'ไม่ระบุ', 'สะแก้ว' : 'สระแก้ว',
                                    'สัตหีบ' : 'ไม่ระบุ', 'สัมผัสผู้ป่วยยืนยัน COVID20': 'ไม่ระบุ', 'สามุทรสาคร' : 'สมุทรสาคร', 'สารคาม' : 'มหาสารคาม',
                                    'สารภี' : 'ไม่ระบุ', 'สิงห์บุรี' : 'สิงห์บุรี', 'สิงห์บุรี\xa0' : 'สิงห์บุรี', 'สุทรปราการ' : 'สมุทรปราการ',
                                    'สุพรรญบุรี' : 'สุพรรณบุรี', 'สุพรรณบุรั' : 'สุพรรณบุรี', 'สุพรรณบุรี' : 'สุพรรณบุรี', 'สุพรรณบุรี\xa0':'สุพรรณบุรี',
                                    'สุมทรปราการ' : 'สมุทรปราการ', 'สุมทรสาคร' : 'สมุทรสาคร', 'สุมุทรปราการ' : 'สมุทรปราการ', 'สุมุทรสาคร' : 'สมุทรสาคร',
                                    'สุระบุรี' : 'สระบุรี', 'สุราษ' : 'สุราษฎร์ธานี', 'สุราษฎณ์ธานี' : 'สุราษฎร์ธานี', 'สุราษฎธานี' : 'สุราษฎร์ธานี',
                                    'สุราษฎร์' : 'สุราษฎร์ธานี', 'สุราษฎร์ธานี' : 'สุราษฎร์ธานี', 'สุราษฎร์ฯ' : 'สุราษฎร์ธานี', 'สุราษฎร์์ธานี' : 'สุราษฎร์ธานี',
                                    'สุราษฎ์ธานี' : 'สุราษฎร์ธานี', 'สุราษฏร์ธานี' : 'สุราษฎร์ธานี', 'สุราษธานี' : 'สุราษฎร์ธานี', 'สุราษร์ฎธานี': 'สุราษฎร์ธานี',
                                    'สุราษร์ธานี' : 'สุราษฎร์ธานี', 'สุราษฯ' : 'สุราษฎร์ธานี', 'สุรินทรื' : 'สุรินทร์', 'สุรินทร์' : 'สุรินทร์',
                                    'สุรินทร์ 32150' : 'สุรินทร์', 'สุรินทร์,รีสะเกษ':'ไม่ระบุ', 'สุรินทร์\xa0' : 'สุรินทร์', 'สุริมทร์' : 'สุรินทร์',
                                    'สุริะแก้ว' : 'สระแก้ว', 'สุวรรณภูมิ' : 'ไม่ระบุ', 'สุุพรรณบุรี' : 'สุพรรณบุรี', 'สุุราษฎร์ธานี' : 'สุราษฎร์ธานี',
                                    'สุุราษฏร์ธานี' : 'สุราษฎร์ธานี', 'สุุราษฯ' : 'สุราษฎร์ธานี', 'สุุรินทร์' : 'สุรินทร์', 'สุุุโขทัย' : 'สุโขทัย',
                                    'สุโขทับ' : 'สุโขทัย', 'สุโขทัย' : 'สุโขทัย', 'สุโขทัย\xa0' : 'สุโขทัย', 'สูงเม่น' : 'ไม่ระบุ',
                                    'เพขรบุรี':'เพชรบุรี', 'เพขรบูรณื': 'เพชรบูรณ์', 'เพขรบูรณ์':'เพชรบูรณ์',  'เพชรบุรณ์':'เพชรบูรณ์',
                                    'เพชรบุรี':'เพชรบุรี', 'เพชรบุรึ':'เพชรบุรี', 'เพชรบุุรี':'เพชรบุรี', 'เพชรบุูรณ์':'เพชรบูรณ์',
                                    'เพชรบูรณ์':'เพชรบูรณ์', 'เพชรบูรณ์\xa0':'เพชรบูรณ์',  'เพชรบูร์':'เพชรบูรณ์', 'เพชรบููรณ์':'เพชรบูรณ์',
                                    'เมือง':'ไม่ระบุ', 'เมืองตาก':'ตาก', 'เมืองน่าน':'น่าน', 'เมืองปัตตานี':'ไม่ระบุ',
                                    'เรือ':'ไม่ระบุ', 'เลย':'เลย',  'เลย\xa0':'เลย',  'เวียงจันทร์':'ไม่ระบุ',
                                    'เวียงสา':'ไม่ระบุ', 'แม่ทะ':'ไม่ระบุ', 'แพร่':'แพร่', 'แม่ฮ่องสอน':'แม่ฮ่องสอน',
                                    'แล้วป่วย':'ไม่ระบุ', 'โพธิ์ทอง':'ไม่ระบุ', 'ไชโย':'ไม่ระบุ', 'ไม่มีชื่อหอพัก':'ไม่ระบุ',
                                    'ไม่ระบุ':'ไม่ระบุ', 'หนวงบัวลำภู': 'หนองบัวลำภู', 'หนองคาย': 'หนองคาย', 'หนองงคาย': 'หนองคาย',
                                    'หนองบัวภู': 'หนองบัวลำภู', 'หนองบัวลำพูน': 'หนองบัวลำภู', 'หนองบัวลำภู': 'หนองบัวลำภู', 'หนองบัวลําภู': 'หนองบัวลำภู',
                                    'หนองบััวลำภู': 'หนองบัวลำภู', 'หนองม่วงไข่': 'ไม่ระบุ', 'หนอบัวลำภู': 'หนองบัวลำภู', 'หลายจังหวัด': 'ไม่ระบุ',
                                    'หัวหิน': 'ไม่ระบุ', 'ห้วยขวาง': 'ไม่ระบุ', 'อยุทธยา': 'พระนครศรีอยุธยา', 'อยุธยา': 'พระนครศรีอยุธยา',
                                    'อยุุธยา': 'พระนครศรีอยุธยา', 'อำนาจเจริญ':  'อำนาจเจริญ', 'อำนาจเจิญ':  'อำนาจเจริญ', 'อำนาญเจริญ':  'อำนาจเจริญ',
                                    'อำนาเจริญ':  'อำนาจเจริญ', 'อิสราเอล':  'ไม่ระบุ', 'อุดธานี': 'อุดรธานี', 'อุดร': 'อุดรธานี',
                                    'อุดรธาณี': 'อุดรธานี', 'อุดรธานี': 'อุดรธานี', 'อุดรธานี\xa0': 'อุดรธานี', 'อุดรธานีี': 'อุดรธานี',
                                    'อุดรราชธานี': 'อุดรธานี', 'อุตรดิตถ์': 'อุตรดิตถ์', 'อุตรดิตถ์\xa0': 'อุตรดิตถ์', 'อุตรดิตถ์์': 'อุตรดิตถ์',
                                    'อุตรดิษถ์': 'อุตรดิตถ์', 'อุตรดิิตถ์': 'อุตรดิตถ์', 'อุตรติดถ์': 'อุตรดิตถ์', 'อุทัยธานี': 'อุทัยธานี',
                                    'อุทัยานี': 'อุทัยธานี', 'อุบลราขธานี': 'อุบลราชธานี', 'อุบลราชธานี': 'อุบลราชธานี', 'อุบลราชธานี\xa0': 'อุบลราชธานี',
                                    'อุุครดิตถ์': 'อุตรดิตถ์', 'อุุดรธาน': 'อุดรธานี', 'อุุดรธานี': 'อุดรธานี', 'อุุตรดิตถ์': 'อุตรดิตถ์',
                                    'อุุทัยธานี': 'อุทัยธานี', 'อุุบลราชธานี': 'อุบลราชธานี', 'อ่งทอง': 'อ่างทอง', 'อ่างทอง': 'อ่างทอง',
                                    'อ่างทอง\xa0': 'อ่างทอง', 'อํานาจเจริญ': 'อํานาจเจริญ', 'เชิงเทรา': 'ฉะเชิงเทรา', 'เชียงราย': 'เชียงราย',
                                    'เชียงใหม่': 'เชียงใหม่', 'เชียรใหญ่': 'เชียงใหม่', 'เชีียงราย': 'เชียงราย', 'เชีียงใหม่': 'เชียงราย', 'เด่นชัย':'ไม่ระบุ',
                                    'พัังงา':'พังงา','พิจิตร':'พิจิตร','พิษณุโลก': 'พิษณุโลก','พิษณุโลก\xa0': 'พิษณุโลก',
                                    'พิษณูโลก': 'พิษณุโลก','ฟินแลนด์': 'ไม่ระบุ','ภาษีเจริญ': 'ไม่ระบุ','ภุเก็ต': 'ภุเก็ต',
                                    'ภูุเก็ต': 'ภุเก็ต','ภููเก็ต': 'ภุเก็ต','ภูเก็ต': 'ภุเก็ต','ภูเก็็ต': 'ภุเก็ต','ภูเพียง': 'ภุเก็ต'})
re_name #แสดงผล

In [17]:
re_name1=show_data1.replace({'\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์',  'USA':'ไม่ระบุ', 'nan':'ไม่ระบุ', '\xa0กาญจนบุรี':'กาญจนบุรี', 
                                    '\xa0ชลบุรี':'ชลบุรี', '\xa0ตราด':'ตราด',  '\xa0นครปฐม': 'นครปฐม', '\xa0สมุทรสงคราม':'สมุทรสงคราม',
                                    '\xa0สมุทรสาคร':'สมุทรสาคร',  '\xa0อุทัยธานี': 'อุทัยธานี', 'กทม':'กรุงเทพมหานคร',  'กทม.':'กรุงเทพมหานคร',
                                     'กบินทร์บุรี':'ไม่ระบุ',  'กระบี่': 'กระบี่', 'กระบี่ี่':'กระบี่',  'กรุงเทพ':'กรุงเทพมหานคร',
                                     'กรุงเทพมหานคร': 'กรุงเทพมหานคร', 'กรุงเทพมหานคร.': 'กรุงเทพมหานคร',  'กรุงเทพมหานคร. / พระนครศรีอยุธยา':'ไม่ระบุ', 'กรุงเทพมหานคร. / ศรีสะเกษ':'ไม่ระบุ',
                                     'กรุงเทพฯ': 'กรุงเทพมหานคร',  'กะทู้':'ไม่ระบุ', 'กัมพูชา':'ไม่ระบุ',  'กาญจนบุรี':'กาญจนบุรี',
                                     'กาญจบุรี':'กาญจนบุรี',  'กาญนบุรี':'กาญจนบุรี', 'กาฬสิน': 'กาฬสินธุ์',  'กาฬสินธิ์': 'กาฬสินธุ์',
                                     'กาฬสินธุ์': 'กาฬสินธุ์', 'กาฬสินธุ์\xa0': 'กาฬสินธุ์',  'กาฬสินธ์': 'กาฬสินธุ์', 'กำเพงเพชร':'กำแพงเพชร',
                                     'กำแพง':'กำแพงเพชร', 'กำแพงเพชร':'กำแพงเพชร',  'กำแพงเพชร\xa0': 'กำแพงเพชร',  'กําแพงเพชร': 'กำแพงเพชร',
                                     'ขอนแก่น':'ขอนแก่น',  'ขอนแก่น\xa0': 'ขอนแก่น',  'ขอนแก่่น': 'ขอนแก่น',  'ขัยนาท':'ชัยนาท',
                                     'ขัยภูมิ':'ชัยภูมิ', 'ขานุวรลักษณ์บุรี':'ไม่ระบุ', 'คนไทยเดินทางกลับจากต่างประเทศ':'ไม่ระบุ',  'คลองเตย':'ไม่ระบุ',
                                     'จ.กรุงเทพมหานคร': 'กรุงเทพมหานคร', 'จ.ภูเก็ต':'ภูเก็ต',  'จ.ราชบุรี': 'ราชบุรี',  'จ.สุราษฎร์ธานี': 'สุราษฎร์ธานี',
                                     'จังหวัดสมุทรสาคร': 'สมุทรสาคร',  'จันทบุรี': 'จันทบุรี', 'ฉะเชองเทราร': 'ฉะเชิงเทรา',  'ฉะเชิงเทรา': 'ฉะเชิงเทรา',
                                     'ชมพร':'ชุมพร',  'ชลบุรี': 'ชลบุรี',  'ชลบุรี\t': 'ชลบุรี', 'ชลบุรี\xa0': 'ชลบุรี',
                                     'ชลบุุรี':'ชลบุรี', 'ชอนแก่น':'ขอนแก่น',  'ชัยนาถ': 'ชัยนาท',  'ชัยนาท': 'ชัยนาท',
                                     'ชัยบาดาล':'ไม่ระบุ', 'ชัยภูมิ': 'ชัยภูมิ',  'ชัยภูมิ\xa0': 'ชัยภูมิ', 'ชุมพร':'ชุมพร',
                                     'ชุุมพร':'ชุมพร',  'ชุุุมพร':'ชุมพร', 'ดอนมดแดง':'ไม่ระบุ',  'ดินแดง':'ไม่ระบุ',
                                     'ตรัง':'ตรัง',  'ตรััง':'ตรัง', 'ตราด':'ตราด', 'ตราด\xa0':'ตราด',
                                     'ตาก': 'ตาก',  'ตากใบ': 'ตาก',  'ต่างจังหวัด':'ไม่ระบุ','ทุ่งเสลี่ยม':'ไม่ระบุ' ,
                                      'ท้ายบ้าน':'ไม่ระบุ',  'ธารโต':'ไม่ระบุ',  'นคนปฐม':'นครปฐม', 'นคปฐม':'นครปฐม', 
                                     'นครนปฐม':'นครปฐม',  'นครนาชสีมา':'นครราชสีมา', 'นครนายก':'นครนายก' ,'นครปฐม':'นครปฐม',
                                     'นครปฐม\xa0':'นครปฐม', 'นครปบม':'นครพนม', 'นครพนม':'นครพนม', 'นครพนม\xa0':'นครพนม',
                                     'นครยายก':'นครนายก', 'นครราขสีมา':'นครราชสีมา', 'นครราชธานี':'นครราชสีมา', 'นครราชศรีมา':'นครราชสีมา',
                                     'นครราชสสีมา':'นครราชสีมา', 'นครราชสีมา':'นครราชสีมา', 'นครราชสีมา ลพบุรี':'ไม่ระบุ', 'นครราชสีมา\xa0':'นครราชสีมา',
                                     'นครศรธรรมราช':'นครศรีธรรมราช', 'นครศรี':'นครศรีธรรมราช', 'นครศรีธรมมราช':'นครศรีธรรมราช', 'นครศรีธรมราช':'นครศรีธรรมราช',
                                     'นครศรีธรรมราข':'นครศรีธรรมราช', 'นครศรีธรรมราช':'นครศรีธรรมราช', 'นครศรีฯ':'นครศรีธรรมราช','นครศรีีธรรมราช':'นครศรีธรรมราช',
                                     'นครศร๊ธรรมราช':'นครศรีธรรมราช', 'นครศร๊ะรรมราช':'นครศรีธรรมราช', 'นครสรรค์':'นครสวรรค์', 'นครสรีธรรมราช':'นครศรีธรรมราช',
                                     'นครสวรรค':'นครสวรรค์', 'นครสวรรค์':'นครสวรรค์', 'นครสวรรค์\xa0':'นครสวรรค์', 'นครสีธรรมราช':'นครศรีธรรมราช',
                                    'นครฯ': 'ไม่ระบุ', 'นคราชสีมา': 'นครราชสีมา', 'นครีศรีธรรมราช': 'นครศรีธรรมราช', 'นตรนายก': 'นครนายก', 
                                    'นตรปฐม': 'นครปฐม',  'นนทบุรี': 'นนทบุรี', 'นนทบุรี\xa0': 'นนทบุรี', 'นนทบุุรี':'นนทบุรี'})
re_name1

,announce_date,sex,age,Unit,nationality,risk,province_of_onset
0,12/1/2020,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,17/1/2020,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,22/1/2020,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,22/1/2020,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,24/1/2020,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...,...,...
433548,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433549,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433550,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433551,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433552,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN

In [18]:
re_name2=re_name1.replace({'นนทุบรี': 'นนทบุรี', 'นนทุรี': 'นนทบุรี', 'นนมบุรี': 'นนทบุรี', 'นรศรีธรรมราช': 'นครศรีธรรมราช',
                                    'นราธิวาส': 'นราธิวาส', 'นราธิวาส\u200b': 'นราธิวาส', 'นราธฺวาส': 'นราธิวาส', 'นอกเขต': 'นราธิวาส',
                                    'นาราธิวาส': 'นราธิวาส', 'นาวัง': 'ไม่ระบุ', 'น่าน': 'น่าน', 'น่าน/ฉะเชิงเทรา': 'ไม่ระบุ', 
                                    'บางกรวย': 'ไม่ระบุ', 'บางกะปิ': 'ไม่ระบุ', 'บางนา': 'ไม่ระบุ', 'บางปะอิน': 'ไม่ระบุ',
                                    'บางละมุง': 'ไม่ระบุ', 'บางศรีเมือง': 'ไม่ระบุ', 'บางเพียง': 'ไม่ระบุ', 'บึงกาฬ': 'บึงกาฬ',
                                    'บึงโขงหลง': 'ไม่ระบุ', 'บุรีรัมภ์': 'บุรีรัมย์', 'บุรีรัมย์': 'บุรีรัมย์', 'บุรีรัมย์\xa0': 'บุรีรัมย์',
                                    'บุรีรัยม์': 'บุรีรัมย์', 'บุรีรีมย์': 'บุรีรัมย์', 'บ้านหลวง': 'ไม่ระบุ', 'ปจ': 'ไม่ระบุ',
                                    'ปทึมธานี': 'ปทุมธานี', 'ปทุทธานี': 'ปทุมธานี', 'ปทุมฑานี': 'ปทุมธานี', 'ปทุมทานี': 'ปทุมธานี',
                                    'ปทุมธาน': 'ปทุมธานี', 'ปทุมธานี': 'ปทุมธานี', 'ปทุมธานี.':'ปทุมธานี', 'ปทุมธานี\xa0':'ปทุมธานี',
                                    'ปทุมธานีี':'ปทุมธานี', 'ปทุมาธานี':'ปทุมธานี', 'ปทุุมธานี':'ปทุมธานี', 'ปธุมธานี':'ปทุมธานี',
                                    'ปมุมธานี':'ปทุมธานี', 'ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์', 'ประจวบ':'ประจวบคีรีขันธ์', 'ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์',
                                    'ประจวบคีรขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์', 'ประจวบคีรีขัน':'ประจวบคีรีขันธ์', 'ประจวบคีรีขันธื':'ประจวบคีรีขันธ์',
                                    'ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์', 'ประจวบคีรีขันธ์':'ประจวบคีรีขันธ์', 'ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์', 'ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์',
                                    'ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์', 'ประจวบฯ':'ประจวบคีรีขันธ์', 'ประทุมธานี':'ปทุมธานี',
                                    'ประเทศกัมพูชา':'ไม่ระบุ', 'ปราจีนบุรี': 'ปราจีนบุรี', 'ปราจีบุรี': 'ปราจีนบุรี', 'ปลวกแดง': 'ไม่ระบุ',
                                    'ปลายพระยา': 'ไม่ระบุ', 'ปอยเปต': 'ไม่ระบุ', 'ปัตตนรี': 'ปัตตานี', 'ปัตตานนี': 'ปัตตานี',
                                    'ปัตตานี': 'ปัตตานี','ปัตตานีี': 'ปัตตานี', 'ปัตาตานี': 'ปัตตานี', 'ปัว': 'ไม่ระบุ',
                                    'ปััตตานี': 'ปัตตานี', 'ปุทมธานี': 'ปทุมธานี', 'ป่าโมก': 'ไม่ระบุ', 'พม่า': 'ไม่ระบุ',
                                    'พรหมพิราม': 'ไม่ระบุ', 'พระนครศรียุธยา': 'พระนครศรีอยุธยา', 'พระนครศรีอยุทธยา': 'พระนครศรีอยุธยา', 'พระนครศรีอยุทยา': 'พระนครศรีอยุธยา',
                                    'พระนครศรีอยุธยา': 'พระนครศรีอยุธยา', 'พระนครศรีอยุธยา\xa0': 'พระนครศรีอยุธยา', 'พะเยา': 'พะเยา', 'พังงา':'พังงา',
                                    'พัทยา': 'ไม่ระบุ', 'พัทลุง': 'พัทลุง', 'พัทลุุง': 'พัทลุง','มหาสาคาม' : 'มหาสารคาม',
                                    'มหาสารคาม' : 'มหาสารคาม', 'มาเลเซีย' : 'ไม่ระบุ', 'มุกดาหาร' : 'มุกดาหาร', 'มุกาดหาร' : 'มุกดาหาร',
                                    'ยะลา' : 'ยะลา', 'ยานนาวา' : 'ไม่ระบุ', 'ยโสธร' : 'ยโสธร', 'ร.จ.จ.นราธิวาส' : 'นราธิวาส',
                                    'รอ' : 'ระยอง', 'ระนอง' : 'ระนอง', 'ระบุ' : 'ไม่ระบุ', 'ระยอง' : 'ระยอง',
                                    'ระยอง\xa0': 'ระยอง', 'ระอยง' : 'ระยอง', 'ราชบบุรี' : 'ราชบุรี', 'ราชบุรี' : 'ราชบุรี',
                                    'ราชบุรีี' : 'ราชบุรี', 'ราชบุรี\u200b': 'ราชบุรี', 'ราชุรี' : 'ราชบุรี', 'ราชเทวี' : 'ไม่ระบุ',
                                    'ร้องกวาง' : 'ไม่ระบุ', 'ร้อยเอ็ด' : 'ร้อยเอ็ด', 'ลบุรี' : 'ลพบุรี', 'ลพบุรี' : 'ลพบุรี',
                                    'ลพบุรี.' : 'ลพบุรี', 'ลพบุรี\xa0' : 'ลพบุรี', 'ลอง' : 'ไม่ระบุ', 'ลาดกระบัง' : 'ไม่ระบุ',
                                    'ลาดพร้าว' : 'ไม่ระบุ', 'ลาว' : 'ไม่ระบุ', 'ลำปาง' : 'ลำปาง', 'ลำพูน' : 'ลำพูน',
                                    'ลำพูน\u200b': 'ลำพูน', 'ลำพููน' : 'ลำพูน', 'ลำลูกกา' : 'ไม่ระบุ', 'วังชิ้น' : 'ไม่ระบุ'})
re_name2

,announce_date,sex,age,Unit,nationality,risk,province_of_onset
0,12/1/2020,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,17/1/2020,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,22/1/2020,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,22/1/2020,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,24/1/2020,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...,...,...
433548,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433549,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433550,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433551,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433552,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN

In [20]:
re_name3=re_name2.replace({'วังทอง' : 'ไม่ระบุ', 'วิเศษชัยชาญ' : 'ไม่ระบุ', 'ศรีษะสะเกษ' : 'ศรีสะเกษ', 'ศรีษะเกษ' : 'ศรีสะเกษ',
                                    'ศรีสระเกษ' : 'ศรีสะเกษ', 'ศรีสะเกษ' : 'ศรีสะเกษ', 'ศีรสะเกษ' : 'ศรีสะเกษ', 'สกลนคร' : 'สกลนคร',
                                    'สครสวรรค์' : 'นครสวรรค์', 'สงขลา' : 'สงขลา', 'สงขลา\u200b': 'สงขลา', 'สตูล' : 'สตูล',
                                    'สถานที่ทำงาน' : 'ไม่ระบุ', 'สพรรณบุรี' : 'สุพรรณบุรี', 'สมถทรปราการ' : 'สมุทรปราการ', 'สมทรสงคราม' : 'สมุทรสงคราม',
                                    'สมทรสาคร' : 'สมุทรสาคร', 'สมุครปราการ' : 'สมุทรปราการ', 'สมุครสาคร' : 'สมุทรสาคร', 'สมุท' : 'ไม่ระบุ',
                                    'สมุทปราการ' : 'สมุทรปราการ', 'สมุทรปรากร' : 'สมุทรปราการ', 'สมุทรปรากรร' : 'สมุทรปราการ', 'สมุทรปรากา' : 'สมุทรปราการ',
                                    'สมุทรปราการ' : 'สมุทรปราการ', 'สมุทรปราการ\xa0' : 'สมุทรสงคราม', 'สมุทรศาคร' : 'สมุทรสาคร', 'สมุทรสงคราม' : 'สมุทรสงคราม',
                                    'สมุทรสาคร' : 'สมุทรสาคร', 'สมุทรสาคร\xa0' : 'สมุทรสาคร', 'สมุทรสาคา' : 'สมุทรสาคร', 'สมุทรสาคาร' : 'สมุทรสาคร',
                                    'สมุทรสาทร' : 'สมุทรสาคร', 'สมุทรสารคร' : 'สมุทรสาคร', 'สมุทราปราการ' : 'สมุทรปราการ', 'สมุทราสาคร' : 'สมุทรสาคร',
                                    'สมุทสงคราม' : 'สมุทรสงคราม', 'สมุทสาคร' : 'สมุทรสาคร', 'สมุย' : 'ไม่ระบุ', 'สมุุทรปราการ' : 'สมุทรปราการ',
                                    'สมุุทรสงคราม' : 'สมุทรสงคราม', 'สมุุทรสาคร' : 'สมุทรสาคร', 'สระก้ว' : 'สระแก้ว', 'สระบุรี' : 'สระบุรี',
                                    'สระบุรี\xa0': 'สระบุรี', 'สระแก้ว' : 'สระแก้ว', 'สรินทร์' : 'สุรินทร์', 'สวิสเซอร์แลนด์' : 'ไม่ระบุ',
                                    'สอง' : 'ไม่ระบุ', 'สองแคว':'ไม่ระบุ', 'สะพานสูง' : 'ไม่ระบุ', 'สะแก้ว' : 'สระแก้ว',
                                    'สัตหีบ' : 'ไม่ระบุ', 'สัมผัสผู้ป่วยยืนยัน COVID20': 'ไม่ระบุ', 'สามุทรสาคร' : 'สมุทรสาคร', 'สารคาม' : 'มหาสารคาม',
                                    'สารภี' : 'ไม่ระบุ', 'สิงห์บุรี' : 'สิงห์บุรี', 'สิงห์บุรี\xa0' : 'สิงห์บุรี', 'สุทรปราการ' : 'สมุทรปราการ',
                                    'สุพรรญบุรี' : 'สุพรรณบุรี', 'สุพรรณบุรั' : 'สุพรรณบุรี', 'สุพรรณบุรี' : 'สุพรรณบุรี', 'สุพรรณบุรี\xa0':'สุพรรณบุรี',
                                    'สุมทรปราการ' : 'สมุทรปราการ', 'สุมทรสาคร' : 'สมุทรสาคร', 'สุมุทรปราการ' : 'สมุทรปราการ', 'สุมุทรสาคร' : 'สมุทรสาคร',
                                    'สุระบุรี' : 'สระบุรี', 'สุราษ' : 'สุราษฎร์ธานี', 'สุราษฎณ์ธานี' : 'สุราษฎร์ธานี', 'สุราษฎธานี' : 'สุราษฎร์ธานี',
                                    'สุราษฎร์' : 'สุราษฎร์ธานี', 'สุราษฎร์ธานี' : 'สุราษฎร์ธานี', 'สุราษฎร์ฯ' : 'สุราษฎร์ธานี', 'สุราษฎร์์ธานี' : 'สุราษฎร์ธานี',
                                    'สุราษฎ์ธานี' : 'สุราษฎร์ธานี', 'สุราษฏร์ธานี' : 'สุราษฎร์ธานี', 'สุราษธานี' : 'สุราษฎร์ธานี', 'สุราษร์ฎธานี': 'สุราษฎร์ธานี',
                                    'สุราษร์ธานี' : 'สุราษฎร์ธานี', 'สุราษฯ' : 'สุราษฎร์ธานี', 'สุรินทรื' : 'สุรินทร์', 'สุรินทร์' : 'สุรินทร์',
                                    'สุรินทร์ 32150' : 'สุรินทร์', 'สุรินทร์,รีสะเกษ':'ไม่ระบุ', 'สุรินทร์\xa0' : 'สุรินทร์', 'สุริมทร์' : 'สุรินทร์',
                                    'สุริะแก้ว' : 'สระแก้ว', 'สุวรรณภูมิ' : 'ไม่ระบุ', 'สุุพรรณบุรี' : 'สุพรรณบุรี', 'สุุราษฎร์ธานี' : 'สุราษฎร์ธานี',
                                    'สุุราษฏร์ธานี' : 'สุราษฎร์ธานี', 'สุุราษฯ' : 'สุราษฎร์ธานี', 'สุุรินทร์' : 'สุรินทร์', 'สุุุโขทัย' : 'สุโขทัย',
                                    'สุโขทับ' : 'สุโขทัย', 'สุโขทัย' : 'สุโขทัย', 'สุโขทัย\xa0' : 'สุโขทัย', 'สูงเม่น' : 'ไม่ระบุ',
                                    'เพขรบุรี':'เพชรบุรี', 'เพขรบูรณื': 'เพชรบูรณ์', 'เพขรบูรณ์':'เพชรบูรณ์',  'เพชรบุรณ์':'เพชรบูรณ์',
                                    'เพชรบุรี':'เพชรบุรี', 'เพชรบุรึ':'เพชรบุรี', 'เพชรบุุรี':'เพชรบุรี', 'เพชรบุูรณ์':'เพชรบูรณ์',
                                    'เพชรบูรณ์':'เพชรบูรณ์', 'เพชรบูรณ์\xa0':'เพชรบูรณ์',  'เพชรบูร์':'เพชรบูรณ์', 'เพชรบููรณ์':'เพชรบูรณ์',
                                    'เมือง':'ไม่ระบุ', 'เมืองตาก':'ตาก', 'เมืองน่าน':'น่าน', 'เมืองปัตตานี':'ไม่ระบุ',
                                    'เรือ':'ไม่ระบุ', 'เลย':'เลย',  'เลย\xa0':'เลย',  'เวียงจันทร์':'ไม่ระบุ'})
re_name3

,announce_date,sex,age,Unit,nationality,risk,province_of_onset
0,12/1/2020,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,17/1/2020,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,22/1/2020,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,22/1/2020,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,24/1/2020,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...,...,...
433548,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433549,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433550,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433551,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433552,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN

In [23]:
re_name4 = re_name3.replace({'เวียงสา':'ไม่ระบุ', 'แม่ทะ':'ไม่ระบุ', 'แพร่':'แพร่', 'แม่ฮ่องสอน':'แม่ฮ่องสอน',
                                    'แล้วป่วย':'ไม่ระบุ', 'โพธิ์ทอง':'ไม่ระบุ', 'ไชโย':'ไม่ระบุ', 'ไม่มีชื่อหอพัก':'ไม่ระบุ',
                                    'ไม่ระบุ':'ไม่ระบุ', 'หนวงบัวลำภู': 'หนองบัวลำภู', 'หนองคาย': 'หนองคาย', 'หนองงคาย': 'หนองคาย',
                                    'หนองบัวภู': 'หนองบัวลำภู', 'หนองบัวลำพูน': 'หนองบัวลำภู', 'หนองบัวลำภู': 'หนองบัวลำภู', 'หนองบัวลําภู': 'หนองบัวลำภู',
                                    'หนองบััวลำภู': 'หนองบัวลำภู', 'หนองม่วงไข่': 'ไม่ระบุ', 'หนอบัวลำภู': 'หนองบัวลำภู', 'หลายจังหวัด': 'ไม่ระบุ',
                                    'หัวหิน': 'ไม่ระบุ', 'ห้วยขวาง': 'ไม่ระบุ', 'อยุทธยา': 'พระนครศรีอยุธยา', 'อยุธยา': 'พระนครศรีอยุธยา',
                                    'อยุุธยา': 'พระนครศรีอยุธยา', 'อำนาจเจริญ':  'อำนาจเจริญ', 'อำนาจเจิญ':  'อำนาจเจริญ', 'อำนาญเจริญ':  'อำนาจเจริญ',
                                    'อำนาเจริญ':  'อำนาจเจริญ', 'อิสราเอล':  'ไม่ระบุ', 'อุดธานี': 'อุดรธานี', 'อุดร': 'อุดรธานี',
                                    'อุดรธาณี': 'อุดรธานี', 'อุดรธานี': 'อุดรธานี', 'อุดรธานี\xa0': 'อุดรธานี', 'อุดรธานีี': 'อุดรธานี',
                                    'อุดรราชธานี': 'อุดรธานี', 'อุตรดิตถ์': 'อุตรดิตถ์', 'อุตรดิตถ์\xa0': 'อุตรดิตถ์', 'อุตรดิตถ์์': 'อุตรดิตถ์',
                                    'อุตรดิษถ์': 'อุตรดิตถ์', 'อุตรดิิตถ์': 'อุตรดิตถ์', 'อุตรติดถ์': 'อุตรดิตถ์', 'อุทัยธานี': 'อุทัยธานี',
                                    'อุทัยานี': 'อุทัยธานี', 'อุบลราขธานี': 'อุบลราชธานี', 'อุบลราชธานี': 'อุบลราชธานี', 'อุบลราชธานี\xa0': 'อุบลราชธานี',
                                    'อุุครดิตถ์': 'อุตรดิตถ์', 'อุุดรธาน': 'อุดรธานี', 'อุุดรธานี': 'อุดรธานี', 'อุุตรดิตถ์': 'อุตรดิตถ์',
                                    'อุุทัยธานี': 'อุทัยธานี', 'อุุบลราชธานี': 'อุบลราชธานี', 'อ่งทอง': 'อ่างทอง', 'อ่างทอง': 'อ่างทอง',
                                    'อ่างทอง\xa0': 'อ่างทอง', 'อํานาจเจริญ': 'อำนาจเจริญ', 'เชิงเทรา': 'ฉะเชิงเทรา', 'เชียงราย': 'เชียงราย',
                                    'เชียงใหม่': 'เชียงใหม่', 'เชียรใหญ่': 'เชียงใหม่', 'เชีียงราย': 'เชียงราย', 'เชีียงใหม่': 'เชียงราย', 'เด่นชัย':'ไม่ระบุ',
                                    'พัังงา':'พังงา','พิจิตร':'พิจิตร','พิษณุโลก': 'พิษณุโลก','พิษณุโลก\xa0': 'พิษณุโลก',
                                    'พิษณูโลก': 'พิษณุโลก','ฟินแลนด์': 'ไม่ระบุ','ภาษีเจริญ': 'ไม่ระบุ','ภุเก็ต': 'ภูเก็ต',
                                    'ภูุเก็ต': 'ภูเก็ต','ภููเก็ต': 'ภูเก็ต','ภูเก็ต': 'ภูเก็ต','ภูเก็็ต': 'ภูเก็ต','ภูเพียง': 'ภูเก็ต'})
re_name4

,announce_date,sex,age,Unit,nationality,risk,province_of_onset
0,12/1/2020,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,17/1/2020,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,22/1/2020,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,22/1/2020,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,24/1/2020,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...,...,...
433548,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433549,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433550,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433551,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433552,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN

In [25]:
data1_finish = re_name4

In [26]:
set(data1_finish['province_of_onset'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ระบุ'}

# ดึงข้อมูลไฟล์ 2

In [34]:
province_file_path= os.path.join(path,'data2.csv')
print(province_file_path)

/content/drive/My Drive/DataViz22_data/data2.csv

In [35]:
region = pd.read_csv(province_file_path)
region

,province_of_onset,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),5 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,กระบี่,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2,กาญจนบุรี,ตะวันตก,กลาง,กลาง,กลาง
3,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กำแพงเพชร,กลาง,เหนือ,เหนือ,เหนือ
...,...,...,...,...,...
72,หนองบัวลำภู,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
73,สุโขทัย,กลาง,เหนือ,เหนือ,เหนือ
74,สุพรรณบุรี,กลาง,กลาง,กลาง,กลาง
75,สุราษฎร์ธานี,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
76,สุรินทร์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ

# ดึงข้อมูลไฟล์ 3

In [41]:
bed_hos_file_path= os.path.join(path,'data3.csv')
print(bed_hos_file_path)

/content/drive/My Drive/DataViz22_data/data3.csv

In [42]:
field_hos= pd.read_csv(bed_hos_file_path)
field_hos

   province_of_onset จำนวนเตียงของรพ.สนาม อว.
0      กรุงเทพมหานคร                      340
1             กระบี่                        0
2          กาญจนบุรี                        0
3          กาฬสินธุ์                        0
4          กำแพงเพชร                      147
..               ...                      ...
72        อำนาจเจริญ                      300
73          อุดรธานี                      436
74         อุตรดิตถ์                      225
75         อุทัยธานี                        0
76       อุบลราชธานี                      511

[77 rows x 2 columns]

# ต่อตารางไฟล์รวม1 กับ ไฟล์ 2 แกน X

In [38]:
#เชื่อมตาราง โดยใช้คำสั่ง merge
data_1 = data1_finish.merge(region) 
data_1

,announce_date,sex,age,Unit,nationality,risk,province_of_onset,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),5 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,12/1/2020,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,17/1/2020,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2,22/1/2020,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
3,24/1/2020,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
4,25/1/2020,หญิง,33.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...,...
2925479,18/3/2022,ชาย,53.0,ปี,Thailand,อื่นๆ,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2925480,18/3/2022,หญิง,34.0,ปี,Thailand,อื่นๆ,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2925481,18/3/2022,หญิง,54.0,ปี,Thailand,อื่นๆ,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2925482,18/3/2022,หญิง,54.0,ปี,Thailand,อื่นๆ,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2925483,18/3/2022,หญิง,16.0,ปี,Thailand,อื่นๆ,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ

# เชื่อมตาราง (12) กับ ไฟล์ 3

In [43]:
data_final = data_1.merge(field_hos) 
data_final

,announce_date,sex,age,Unit,nationality,risk,province_of_onset,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),5 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จำนวนเตียงของรพ.สนาม อว.
0,12/1/2020,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,340
1,17/1/2020,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,340
2,22/1/2020,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,340
3,24/1/2020,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,340
4,25/1/2020,หญิง,33.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,340
...,...,...,...,...,...,...,...,...,...,...,...,...
2925479,18/3/2022,ชาย,53.0,ปี,Thailand,อื่นๆ,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,0
2925480,18/3/2022,หญิง,34.0,ปี,Thailand,อื่นๆ,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,0
2925481,18/3/2022,หญิง,54.0,ปี,Thailand,อื่นๆ,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,0
2925482,18/3/2022,หญิง,54.0,ปี,Thailand,อื่นๆ,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,0
2925483,18/3/2022,หญิง,16.0,ปี,Thailand,อื่นๆ,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,0

In [44]:
set(data_final['province_of_onset'])

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [45]:
data_final.isnull().any().any()

True

In [46]:
data_final.isnull().any()

announce_date                False
sex                           True
age                           True
Unit                          True
nationality                   True
risk                          True
province_of_onset            False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
5 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
จำนวนเตียงของรพ.สนาม อว.     False
dtype: bool

In [47]:
data_final[['sex']]=data_final[['sex']].fillna('ไม่ได้ระบุ')
data_final[['age']]=data_final[['age']].fillna('ไม่ได้ระบุ')
data_final[['Unit']]=data_final[['Unit']].fillna('ไม่ได้ระบุ')
data_final[['nationality']]=data_final[['nationality']].fillna('ไม่ได้ระบุ')
data_final[['risk']]=data_final[['risk']].fillna('ไม่ได้ระบุ')

# แทนค่า missing ด้วยคำว่า ไม่ได้ระบุ

In [48]:
data_final.isnull().any() # check missing again

announce_date                False
sex                          False
age                          False
Unit                         False
nationality                  False
risk                         False
province_of_onset            False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
5 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
จำนวนเตียงของรพ.สนาม อว.     False
dtype: bool