<a href="https://colab.research.google.com/github/Khemapsorn/data_viz_2022/blob/main/Project_Datastudio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd  # ใช้จัดการข้อมูลต่าง ๆ ที่เป็นตาราง พวกexcel ,CSV
from google.colab import drive # เชื่อม google drive กับ colab ของเรา นี้เป็นคำสั่งเชื่อม |accout colab กับ Drive ควรเป็น accout เดียวกัน|
drive.mount('/content/drive')
import os # การจัดเก็บเกี่ยวกับไฟล์ต่าง ๆ มันอยู่ที่โฟลเดอร์ไหน จะ list โฟล์เดอร์ออกมา

Mounted at /content/drive

In [2]:
path = '/content/drive/My Drive/DataViz22_data' #บอกทางผ่านในการไปเอาไฟล์ของเรา ว่าผ่านทางไหนบ้าง

# ดึงข้อมูล ไฟล์1

In [12]:
covid_file_path_1= os.path.join(path,'data1_1.csv')
print(covid_file_path_1)

/content/drive/My Drive/DataViz22_data/data1_1.csv

In [13]:
date_covid_1 = pd.read_csv(covid_file_path_1)
date_covid_1

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

In [14]:
covid_file_path_2 = os.path.join(path,'data1_2.csv')
print(covid_file_path_2)

/content/drive/My Drive/DataViz22_data/data1_2.csv

In [15]:
date_covid_2 = pd.read_csv(covid_file_path_2)
date_covid_2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [16]:
covid_file_path_3= os.path.join(path,'data1_3.csv')
print(covid_file_path_3)

/content/drive/My Drive/DataViz22_data/data1_3.csv

In [17]:
date_covid_3 = pd.read_csv(covid_file_path_3)
date_covid_3

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [24]:
covid_file_path_4= os.path.join(path,'data1_4.csv')
print(covid_file_path_4)

/content/drive/My Drive/DataViz22_data/data1_4.csv

In [25]:
date_covid_4 = pd.read_csv(covid_file_path_4)
date_covid_4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

# รวมไฟล์1 แกน Y

In [26]:
data1 = pd.concat([date_covid_1, date_covid_2, date_covid_3, date_covid_4] ) # เอาตารางมาต่อกัน
data1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [37]:
set(data1['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 nan,
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ตากใบ',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา ลพบุรี',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสรีธรรมราช',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทบุุรี',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางศรีเมือง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทึมธานี',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัตาตานี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สรินทร์',
 'สวิสเซอร์แลนด์',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หลายจังหวัด',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาจเจิญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชียรใหญ่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

# ดึงข้อมูลไฟล์ 2

In [27]:
province_file_path= os.path.join(path,'data2.csv')
print(province_file_path)

/content/drive/My Drive/DataViz22_data/data2.csv

In [28]:
region = pd.read_csv(province_file_path)
region

,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุ,ท่องเที่ยว
0,กระบี่,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
1,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2,กาญจนบุรี,ตะวันตก,กลาง,กลาง,กลาง
3,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กำแพงเพชร,กลาง,เหนือ,เหนือ,เหนือ
...,...,...,...,...,...
72,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
73,อุดรธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
74,อุตรดิตถ์,เหนือ,เหนือ,เหนือ,เหนือ
75,อุทัยธานี,กลาง,เหนือ,กลาง,เหนือ
76,อุบลราชธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ

# ดึงข้อมูลไฟล์ 3

In [29]:
bed_hos_file_path= os.path.join(path,'data3.csv')
print(bed_hos_file_path)

/content/drive/My Drive/DataViz22_data/data3.csv

In [30]:
field_hos= pd.read_csv(bed_hos_file_path)
field_hos

          จังหวัด จำนวนเตียงของรพ.สนาม อว.
0          กระบี่                        0
1   กรุงเทพมหานคร                      340
2       กาญจนบุรี                        0
3       กาฬสินธุ์                        0
4       กำแพงเพชร                      147
..            ...                      ...
72     อำนาจเจริญ                      300
73       อุดรธานี                      436
74      อุตรดิตถ์                      225
75      อุทัยธานี                        0
76    อุบลราชธานี                      511

[77 rows x 2 columns]

# ต่อตารางไฟล์รวม1 กับ ไฟล์ 2 แกน X

In [32]:
# เชื่อมตาราง โดยใช้คำสั่ง merge
data_1 = data1.merge(region,how='right',left_on='province_of_onset',right_on='จังหวัด') 
data_1 # check รูปร่าง

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุ,ท่องเที่ยว
0,24,4/2/2020,NaN,หญิง,31.0,ปี,China,กระบี่,คนต่างชาติเดินทางมาจากต่างประเทศ,กระบี่,เกาะลันตา,NaN,กระบี่,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
1,387,21/3/2020,20/3/2020,ชาย,62.0,ปี,Denmark,กระบี่,คนต่างชาติเดินทางมาจากต่างประเทศ,กระบี่,เมือง,NaN,กระบี่,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2,501,22/3/2020,22/3/2020,หญิง,39.0,ปี,Thailand,กระบี่,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กระบี่,เกาะลันตา,NaN,กระบี่,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
3,944,26/3/2020,25/3/2020,ชาย,20.0,ปี,Thailand,กระบี่,สถานบันเทิง,กระบี่,เมือง,NaN,กระบี่,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
4,955,26/3/2020,24/3/2020,หญิง,38.0,ปี,Denmark,กระบี่,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กระบี่,NaN,NaN,กระบี่,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920327,3300233,18/3/2022,17/3/2022,NaN,43.0,ปี,NaN,กรุงเทพมหานคร,อื่นๆ,อุบลราชธานี,เขื่องใน,NaN,อุบลราชธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2920328,3300260,18/3/2022,17/3/2022,NaN,30.0,ปี,NaN,กรุงเทพมหานคร,อื่นๆ,อุบลราชธานี,ทุ่งศรีอุดม,NaN,อุบลราชธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2920329,3300302,18/3/2022,17/3/2022,NaN,45.0,ปี,NaN,กรุงเทพมหานคร,อื่นๆ,อุบลราชธานี,โขงเจียม,NaN,อุบลราชธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2920330,3300411,18/3/2022,17/3/2022,NaN,56.0,ปี,NaN,กรุงเทพมหานคร,อื่นๆ,อุบลราชธานี,ตระการพืชผล,NaN,อุบลราชธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2920331,3302930,18/3/2022,17/3/2022,NaN,19.0,ปี,NaN,กรุงเทพมหานคร,อื่นๆ,อุบลราชธานี,เขมราฐ,NaN,อุบลราชธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ